body    {
    background-color: #1f2937;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


.contenedor1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 100px;
    
}

.logo   {
    font-size: 24px;
    color: #f9faf8;
    /*width: 200px;*/
    margin: 0px 200px;
    font-weight: bolder;
}

.header-links {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin-left: 0px;
    color: #E5E7EB;
    justify-content: space-between;
    margin: 0px 200px;
}

li {
    margin: 0px 0px;
    width: 150px;
}

a   {
    text-decoration: none;
    color: inherit;
    
}

.contenedor2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 100px;
    align-items: center;
}

.bajada1    {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 150px;
}

.texto1 {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 1000;
    margin-top: inherit;
}

.texto2 {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: inherit;
}

.btn-signup {
    background-color: #3882f6;
    width: 125px;
    height: 40px;
    color: #E5E7EB;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    margin-top: inherit;
    font-size: 18px;
    cursor:pointer;
    
}

img {
    min-width: 550px;
    min-height: 250px;
    max-width: 550px;
    max-height: 250px  ;
    margin; 0px;
    
}

.contenedor3 {
    background-color: white;
    padding: 50px 0px;
}

.info-titulo {
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.cuadros    {
    display: flex;
    margin: 60px 50px 100px;
    justify-content: center;
    text-align: center;
}

.cuadro {
    border: solid 4px #3882f6;
    margin: 0px 20px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.texto {
    width: 150px;
    margin: 0px 20px;
}

.contenedor4 {
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
}

.quote  {
    font-weight:lighter;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    width: 780px;
    margin-left: 100px;

}

.citado {
    font-weight: bolder;
    font-size: 20px   ;
   text-align: right;
   width: 760px;
}

.contenedor5 {
    background-color: white;
    padding: 100px;

}

.action {
    background-color: #3882f6;
    width: 1000px;
    height: 130px;
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.text1-action  {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.text2-action {
    color: white;
    font-weight: 300;
    font-size: 15px; 
}

.btn-action {
    background-color: #3882f6;
    width: 135px;
    height: 40px;
    color: #E5E7EB;
    font-weight: bolder;
    border-radius: 10px;
    border: solid 3px white;
    margin-top: inherit;
    font-size: 18px;
    cursor:pointer;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer div  {
    color: white;
}